<%= render "shared/error", error: @plot %>
<h2>Plot Information: <%= @plot.code %></h2>
<%= form_for @plot, html: {class: 'form-horizontal'} do |f| %>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default col-md-12">
			<h4>ข้อมูลทั่วไป</h4>
			<div class="panel-body">
				<div class="form-group">
					<%= f.label :status, "สถานะ", class: "col-md-3 control-label" %>
					<div class="col-md-8">
						<%= f.select :status_id, Status.all.collect { |s| [s.name, s.id] }, {}, {class: "form-control"} %>
					</div>
				</div>		
				<div class="form-group">
					<%= f.label :status, "เฟส", class: "col-md-3 control-label" %>
					<div class="col-md-8">
						<%= f.select :phase_id, Phase.all.collect { |s| [s.name, s.id] }, {}, {class: "form-control"} %>
					</div>
				</div>	
				<div class="form-group">
					<%= f.label :home_type, "แบบบ้าน", class: "col-md-3 control-label" %>
					<div class="col-md-8">
						<%= f.text_field :home_type, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :size, "เนื้อที่ดิน", class: "col-md-3 control-label" %>
					<div class="col-md-8">
						<%= f.text_field :size, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :deed_no, "เลขที่โฉนด", class: "col-md-3 control-label" %>
					<div class="col-md-8">
						<%= f.text_field :deed_no, class: "form-control" %>
					</div>
				</div>	
				<div class="form-group">
					<%= f.label :buyer_name, "ผู้ซื้อ", class: "col-md-3 control-label" %>
					<div class="col-md-8">
						<%= f.text_field :buyer_name, class: "form-control" %>
					</div>
				</div>	
				<div class="form-group">
					<%= f.label :buyer_phone, "โทรศัพท์ผู้ซื้อ", class: "col-md-3 control-label" %>
					<div class="col-md-8">
						<%= f.text_field :buyer_phone, class: "form-control" %>
					</div>
				</div>	
			</div>	
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default col-md-12">
			<h4>ข้อมูลราคา</h4>
			<div class="panel-body">
				<div class="form-group">
					<%= f.label :base_price, "บ้านและที่ดิน", class: "col-md-3 control-label" %>
					<div class="col-md-8">
						<%= f.text_field :base_price, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :extra_land_price, "ค่าที่ดินเพิ่ม", class: "col-md-3 control-label" %>
					<div class="col-md-8">
						<%= f.text_field :extra_land_price, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :plot_add_on_price, "ค่าแปลงพิเศษ", class: "col-md-3 control-label" %>
					<div class="col-md-8">
						<%= f.text_field :plot_add_on_price, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :house_add_on_price, "ค่าต่อเติม", class: "col-md-3 control-label" %>
					<div class="col-md-8">
						<%= f.text_field :house_add_on_price, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">รวมราคา</label>
					<div class="col-md-8">
						<%= number_to_currency(@plot.total_price) %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :common_charge, "ค่าส่วนกลาง", class: "col-md-3 control-label" %>
					<div class="col-md-8">
						<%= f.text_field :common_charge, class: "form-control" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default col-md-12">
			<h4>ข้อมูลการก่อสร้าง</h4>
			<div class="form-group">
				<%= f.label :contractor_pay_no, "ก่อสร้างงวดที่", class: "col-md-3 control-label" %>
				<div class="col-md-8">
					<%= f.text_field :contractor_pay_no, class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :contractor, "ผู้รับเหมา", class: "col-md-3 control-label" %>
				<div class="col-md-8">
					<%= f.select :contractor_id, Contractor.all.collect { |s| [s.name, s.id] }, {include_blank: true}, {class: "form-control"} %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :foreman, "ผู้คุม", class: "col-md-3 control-label" %>
				<div class="col-md-8">
					<%= f.select :foreman_id, Foreman.all.collect { |s| [s.name, s.id]}, {include_blank: true}, {class: "form-control"} %>
				</div>
			</div>
		</div>

		<div class="panel panel-default col-md-12">
			<h4>Comments</h4>
			<div class="form-group">
				<div class="col-md-offset-3 col-md-8">
					<%= f.text_area :comments, rows: 8, class: "form-control" %>
				</div>
			</div>		
		</div>

	</div>
	<div class="col-md-6">
		<div id="transfer_info" class="panel panel-default col-md-12">
			<h4>ข้อมูลการโอน</h4>
			<div class="form-group">
				<%= f.label :transfer_date, "วันที่โอน", class: "col-md-3 control-label" %>
				<div class="col-md-8">
					<%= f.text_field :transfer_date, 
									 value: @plot.transfer_date.nil? ? nil : l(@plot.transfer_date), 
									 class: "form-control"  %>
				</div>
			</div>	
			<div class="form-group">
				<%= f.label :tax_price, "ราคาทุนทรัพย์", class: "col-md-3 control-label" %>
				<div class="col-md-8">
					<%= f.text_field :tax_price, class: "form-control"  %>
				</div>
			</div>	
			<div class="form-group">
				<%= f.label :appr_price, "ราคาประเมิน", class: "col-md-3 control-label" %>
				<div class="col-md-8">
					<%= f.text_field :appr_price, class: "form-control"  %>
				</div>
			</div>	

			<div class="form-group">
				<%= f.label :transfer_fee, "ค่าธรรมเนียม", class: "col-md-3 control-label" %>
				<div class="col-md-8">
					<%= f.text_field :transfer_fee, class: "form-control"  %>
				</div>
			</div>	
			<div class="form-group">
				<%= f.label :personal_tax, "ภาษีเงินได้", class: "col-md-3 control-label" %>
				<div class="col-md-8">
					<%= f.text_field :personal_tax, class: "form-control"  %>
				</div>
			</div>	
			<div class="form-group">
				<%= f.label :special_tax, "ภาษีธุรกิจเฉพาะ", class: "col-md-3 control-label" %>
				<div class="col-md-8">
					<%= f.text_field :special_tax, class: "form-control"  %>
				</div>
			</div>	
			<div class="form-group">
				<%= f.label :local_tax, "รายได้ส่วนท้องถิ่น", class: "col-md-3 control-label" %>
				<div class="col-md-8">
					<%= f.text_field :local_tax, class: "form-control"  %>
				</div>
			</div>	
			<div class="form-group">
				<%= f.label :other_fee, "อื่นๆ", class: "col-md-3 control-label" %>
				<div class="col-md-8">
					<%= f.text_field :other_fee, class: "form-control"  %>
				</div>
			</div>	

		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
	<%= f.submit "Save", class: "btn btn-sm btn-primary",
				style: "width: 120px" %>
	<%= link_to "Cancel", map_path(@plot.map_id),
				class: "btn btn-sm btn-primary", style: "width: 120px" %>
	</div>
</div>

<% end %>

<script>
	$(function() {
	  
	  $("#plot_transfer_date").datepicker();

	  //format numbers
	  formatCurrencyField($("#plot_base_price"));
	  formatCurrencyField($("#plot_extra_land_price"));
	  formatCurrencyField($("#plot_house_add_on_price"));
	  formatCurrencyField($("#plot_plot_add_on_price"));
	  formatCurrencyField($("#plot_common_charge"));

	  formatCurrencyField($("#plot_tax_price"));
	  formatCurrencyField($("#plot_appr_price"));
	  formatCurrencyField($("#plot_personal_tax"));
	  formatCurrencyField($("#plot_transfer_fee"));

	  formatCurrencyField($("#plot_special_tax"));
	  formatCurrencyField($("#plot_local_tax"));
	  formatCurrencyField($("#plot_other_fee"));

	  $("input[value='Save']").on("click", reformatCurrency);

		/*var status = $("#plot_status_id option:selected").text();
		if(status != 'Transferred')
			$("#transfer_info").hide();

		//bind select change function
		$("#plot_status_id").change(function(){
			if($(this).find("option:selected").text() != 'Transferred'){
				$("#transfer_info").hide();
			}else{
				$("#transfer_info").show();
			}
		}
		)*/
	}
	);

function reformatCurrency(){
	$("#plot_base_price").val($("#plot_base_price").val().replace(/,/g, ''));
	$("#plot_extra_land_price").val($("#plot_extra_land_price").val().replace(/,/g, ''));
	$("#plot_house_add_on_price").val($("#plot_house_add_on_price").val().replace(/,/g, ''));
	$("#plot_plot_add_on_price").val($("#plot_plot_add_on_price").val().replace(/,/g, ''));
	$("#plot_common_charge").val($("#plot_common_charge").val().replace(/,/g, ''));

	$("#plot_tax_price").val($("#plot_tax_price").val().replace(/,/g, ''));
	$("#plot_appr_price").val($("#plot_appr_price").val().replace(/,/g, ''));
	$("#plot_personal_tax").val($("#plot_personal_tax").val().replace(/,/g, ''));
	$("#plot_transfer_fee").val($("#plot_transfer_fee").val().replace(/,/g, ''));

	$("#plot_special_tax").val($("#plot_special_tax").val().replace(/,/g, ''));
	$("#plot_local_tax").val($("#plot_local_tax").val().replace(/,/g, ''));
	$("#plot_other_fee").val($("#plot_other_fee").val().replace(/,/g, ''));
	return true;
}

function formatCurrencyField(txt_field) {
    formatCurrency(txt_field);
	txt_field.change(function() {
		formatCurrency($(this));
	});
}

function formatCurrency(txt_field){
    var val_num = txt_field.val();
    //make sure it's a number
    if (!isNaN(val_num) && val_num != "") {
        //find decimal, whatever is after decimal leave it alone or add extra digit if length is 1
        var dec = val_num.search(/\./);
        var a = new Array();
        var pre_dec;
        var sign = "";
        if(val_num.substring(0,1) == "-" || val_num.substring(0,1) == "+"){
        	sign =  val_num.substring(0,1);
        }

        if (dec != -1) {
            var post_dec = val_num.substring(dec);
            if (post_dec.length <= 2) {
                post_dec = post_dec + "0";
            }
	        pre_dec = val_num.substring(sign.length, dec);
        }else{
        	post_dec = ".00"
	        pre_dec = val_num.substring(sign.length);
        }


        while (true) {
            var n = pre_dec.length;
            if (n > 3) {
                a.push(pre_dec.substring(n - 3, n));
                pre_dec = pre_dec.substring(0, n - 3);
            } else {
                a.push(pre_dec);
                break;
            }
        }
       	txt_field.val(sign + a.reverse().join(",") + post_dec);
    }
}
</script>