<% provide(:title, @map.name) %>
<h2>Real Estate Development Land Map</h2>
<div class="legend_box">
	Legend:<br/>
	<div class="legend lp_av">&nbsp;</div> Available<br/>
	<div class="legend lp_dr">&nbsp;</div> Deposit Received<br/>
	<div class="legend lp_cs">&nbsp;</div> Contract Signed<br/>
	<div class="legend lp_tr">&nbsp;</div> Transferred<br/>
</div>

<table id="table-map">
	<tr>
		<td class="td-group" colspan="2">
			<%= render "plots/plots_by_group", group: "21"  %>
		</td>
		<td class="td-group">
			<%= render "plots/plots_by_group", group: "0"  %>
		</td>
	</tr>
	<tr>
		<td rowspan="4" style="padding-right:20px">
			<%= render "plots/plots_by_group", group: "27"  %>
		</td>
		<td rowspan="2" class="td-group">
			<table>
				<tr>
					<td rowspan="2">
						<%= render "plots/plot", plot: @plots.find_by_code("B31")  %>
						<%= render "plots/plot", plot: @plots.find_by_code("B30")  %>
					</td>
					<td>
						<table>
							<tr>
								<td colspan="2" align="center">
									<%= render "plots/plot", plot: @plots.find_by_code("B32")  %>
								</td>
							</tr>
							<tr>
								<td>
									<%= render "plots/plot", plot: @plots.find_by_code("B29")  %>
								</td>
								<td>																<%= render "plots/plot", plot: @plots.find_by_code("B28")  %>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<table>
								<tr>
									<td><%= render "plots/plot", plot: @plots.find_by_code("B34")  %></td>
								</tr>
								<tr>
									<td><%= render "plots/plot", plot: @plots.find_by_code("B33")  %></td>
								</tr>
								<tr>
									<td><%= render "plots/plot", plot: @plots.find_by_code("B27")  %></td>
								</tr>
						</table>	
					</td>
				</tr>
			</table>			
		</td>
		<td class="td-group">
			<table>
				<tr>
					<td rowspan="2"><%= render "plots/plots_by_group", group: "1"  %></td>
					<td><%= render "plots/plots_by_group", group: "2"  %></td>
				</tr>
				<tr>
					<td><%= render "plots/plots_by_group", group: "3"  %></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="td-group">
			<table>
				<tr>
					<td><%= render "plots/plots_by_group", group: "4"  %></td>
				</tr>
				<tr>
					<td><%= render "plots/plots_by_group", group: "5"  %></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="td-group">
			<table>
				<tr>
					<td><%= render "plots/plots_by_group", group: "23"  %></td>
				</tr>
				<tr>
					<td><%= render "plots/plots_by_group", group: "24"  %></td>
				</tr>
			</table>			
		</td>
		<td class="td-group">
			<table>
				<tr>
					<td><%= render "plots/plots_by_group", group: "6"  %></td>
				</tr>
				<tr>
					<td><%= render "plots/plots_by_group", group: "7"  %></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="td-group">
			<table>
				<tr>
					<td><%= render "plots/plots_by_group", group: "25"  %></td>
				</tr>
				<tr>
					<td><%= render "plots/plots_by_group", group: "26"  %></td>
				</tr>
			</table>			
		</td>
		<td class="td-group">
			<table>
				<tr>
					<td><%= render "plots/plots_by_group", group: "8"  %></td>
				</tr>
				<tr>
					<td><%= render "plots/plots_by_group", group: "9"  %></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" rowspan="2" class="td-group">
			<%= render "plots/plots_by_group", group: "15"  %>
			<div class="lp lp_garden">Public Garden</div>
		</td>
		<td class="td-group">
			<table>
				<tr>
					<td><%= render "plots/plots_by_group", group: "10"  %></td>
				</tr>
				<tr>
					<td><%= render "plots/plots_by_group", group: "11"  %></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="td-group">
			<table>
				<tr>
					<td rowspan="2"><%= render "plots/plots_by_group", group: "12"  %></td>
					<td><%= render "plots/plots_by_group", group: "13"  %></td>
				</tr>
				<tr>
					<td><%= render "plots/plots_by_group", group: "14"  %></td>
				</tr>
			</table>
		</td>
	</tr>	
	<tr>
		<td colspan="2" class="td-group">
			<table>
				<tr>
					<td><%= render "plots/plots_by_group", group: "16"  %></td>
				</tr>
				<tr>
					<td><%= render "plots/plots_by_group", group: "17"  %></td>
				</tr>
			</table>
		</td>
		<td class="td-group">
			<%= render "plots/plots_by_group", group: "18"  %>
		</td>		
	</tr>
	<tr>
		<td colspan="2" class="td-group">
			<%= render "plots/plots_by_group", group: "19"  %>
		</td>
		<td class="td-group">
			<%= render "plots/plots_by_group", group: "20"  %>
		</td>
	</tr>
</table>

<script>
	$(function(){
		$(".lp").onclick(function(){

		})
	})
</script>